app-switchProject{
    #title{
        font-size:250%;  //字体大小
        font-weight:900;    //字体加粗
        margin: 3%;        //上下和左右边距
    }
    #select{
        background-color: lightgrey;   //主背景
        border: 15px solid #1D7155;    //框框
       // margin-bottom: 5%;
       // margin-top: 5%;
        padding: 100% lightgrey;
        width:100%
    }
    #card{
       height:90%;
       margin-top: 10%;
       margin-bottom: 10%;

    }

    #one{
        background-color:  #1D7155;     //按钮背景颜色
        width: 80%;       //按钮大小
        height:50%; 
        color: white;     //字体颜色
        font-size:120%;      //字体大小
        font-weight:bold;   //字体加粗
        padding: 14px 20px;    //内容区域大小
        margin: 0 10%;        //上下和左右边距
        text-align: center;     //文字内容居中
    }
    #two{
        background-color:  #1D7155;     //按钮背景颜色
        width: 80%;       //按钮大小
        height:50%; 
        color: white;     //字体颜色
        font-size:120%;      //字体大小
        font-weight:bold;   //字体加粗
        padding: 14px 20px;    //内容区域大小
        margin: 5% 10%;        //上下和左右边距
        text-align: center;     //文字内容居中
    }
    #three{
        background-color:  #1D7155;     //按钮背景颜色
        width: 80%;       //按钮大小
        height:50%; 
        color: white;     //字体颜色
        font-size:120%;      //字体大小
        font-weight:bold;   //字体加粗
        padding: 14px 20px;    //内容区域大小
        margin: 0 10%;        //上下和左右边距
        text-align: center;     //文字内容居中
    }
    
    #four{
        background-color:  #1D7155;     //按钮背景颜色
        width: 80%;       //按钮大小
        height:50%; 
        color: white;     //字体颜色
        font-size:120%;      //字体大小
        font-weight:bold;   //字体加粗
        padding: 14px 20px;    //内容区域大小
        margin: 5% 10%;        //上下和左右边距
        text-align: center;     //文字内容居中
    }
    #five{
        background-color:  #1D7155;     //按钮背景颜色
        width: 80%;       //按钮大小
        height:50%; 
        color: white;     //字体颜色
        font-size:120%;      //字体大小
        font-weight:bold;   //字体加粗
        padding: 14px 20px;    //内容区域大小
        margin: 0% 10%;        //上下和左右边距
        text-align: center;     //文字内容居中
    }
    #six{
        background-color:  #1D7155;     //按钮背景颜色
        width: 80%;       //按钮大小
        height:50%; 
        color: white;     //字体颜色
        font-size:120%;      //字体大小
        font-weight:bold;   //字体加粗
        padding: 14px 20px;    //内容区域大小
        margin: 5% 10%;        //上下和左右边距
        text-align: center;     //文字内容居中
    }
    #seven{
        background-color:  #dee9e5;
        width: 80%;       //按钮大小
        height:50%; 
        color: #1D7155;     //字体颜色
        font-size:120%;      //字体大小
        font-weight:bold;   //字体加粗
        padding: 14px 20px;    //内容区域大小
        margin: 2%  10%;        //上下和左右边距
        text-align: center;     //文字内容居中
    }


}